[submodule "trove-integration"]
	path = trove-integration
#	url = git://git.openstack.org/openstack/trove-integration
	url = https://review.openstack.org/openstack/trove-integration
	branch = changes/48/92848/4
